.pricing-page {
    padding: 20px;
    background-color: #f0f2f5;
}

.whatsappInfo {
    margin-top: 20px;
}

.accountInfo {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
}

.whatsappButton {
    color: #198754;
    background: #fff;
    border-color: #198754;
    transition: 0.3s all;
    &:hover,
    &:focus {
        color: #fff !important;
        background: #198754 !important;
        border-color: #fff !important;
        transition: 0.3s all;
    }
}