.pricing-page {
    padding: 20px;
    background-color: #f0f2f5;
}

.whatsappInfo {
    margin-top: 20px;
}

.accountInfo {
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 12px;
}

.whatsappButton {
    color: #198754;
    background: #fff;
    border-color: #198754;
    transition: 0.3s all;
    &:hover,
    &:focus {
        color: #fff !important;
        background: #198754 !important;
        border-color: #fff !important;
        transition: 0.3s all;
    }
}

.card {
    border-radius: 32px;
    >div {
        padding: 16px !important;
    }
    &__title {
        text-transform: capitalize;
        font-family: Inter;
    }
    &__body {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }
    &__item {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        &__notActive {
            opacity: 0.3;
        }
        &__label {
            width: calc(90% - 16px);
        }
        &__value {
            width: 10%;
            text-align: end;
        }
    }
    &__price {
        margin-top: 16px;
    }
    &__button {
        padding: 24px;
        background-color: rgba(0, 95, 170, 1);
        border-color: rgba(0, 95, 170, 1);
        color: #fff;
        border-radius: 32px;
        transition: 0.3s;
        &:hover {
            svg {
                path {
                    transition: 0.3s;
                    fill: #4096ff;
                }
            }
        }
    }
}

.col {
    &:first-child {
        width: calc(65% - 30px);
    }
    &:last-child {
        width: calc(35% - 30px);
    }
}

.sliderContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sliderValue {
    font-size: 32px;
    font-weight: bold;
    width: 100px;
    text-align: center;
}

.customSlider {
    width: 100%;
    .ant-slider-track {
        background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(33, 150, 243, 1) 100%);
    }
    .ant-slider-handle {
        width: 32px;
        height: 32px;
        background-color: #0062cc;
        border: none;
    }
    .ant-slider-rail {
        background-color: #333;
    }
    .ant-slider-mark {
        font-size: 12px;
        color: #ccc;
    }
    .ant-slider-mark-text {
        color: white;
    }
    .ant-slider-dot {
        background-color: transparent;
        border-color: #ccc;
    }
}

.title {
    color: white;
    text-align: left;
}