.container {
    margin-top: 12px;
    display: flex;
    gap: 16px;
}

.calendar {
    width: 70%;
    &IsFull {
        width: 100%;
    }
}

.eventContainer {
    color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.eventTitle {
    font-weight: bold;
    font-size: 12px;
}

.eventTime {
    font-size: 10px;
    opacity: 0.8;
}