.menuBody {
    width: 300px;
    max-width: 300px;
    @media (max-width: 1263px) {}
    @media (max-width: 1024px) {}
    @media (max-width: 992px) {}
    @media (max-width: 576px) {}
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    svg {
        cursor: pointer;
        @media (max-width: 992px) {
            height: 100%;
            object-fit: cover;
        }
    }
}

.logOutBtn {
    padding: 8px 0;
    button {
        width: 100%;
    }
}