.menuBody {
    width: 300px;
    max-width: 300px;
}

.logo {
    padding: 16px;
    text-align: center;
    color: rgba(67, 94, 190, 1);
    font-size: 32px;
    font-weight: 900;
}

.logOutBtn {
    padding: 8px 0;
    button {
        width: 100%;
    }
}