.addBtns {
    display: flex;
    align-items: center;
    gap: 8px;
}

.item {
    margin: 4px 0;
    padding: 8px !important;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 8px;
    transition: 0.3s all;
    &__isActive {
        border: 1px solid #1890ff;
        border-block-end: 1px solid #1890ff !important;
        transition: 0.3s all;
    }
}